#root {
    height: 100vh;
}

$prefix: cc-;

// COLORS

$primary: #BF5676;
$secondary: #4c3c4c;
//$success:;
$info: #515f69;
//$warning:;
//$danger:;
$light: #ffeef8;
$dark: #00070d;
$body-bg: $light;
$body-color: $dark;

// FONT
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

// stylelint-disable value-keyword-case
$font-family-sans-serif:      Caveat, Aref Ruqaa, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// stylelint-enable value-keyword-case
$font-family-base:            var(--#{$prefix}font-sans-serif);

// CARDS
$card-title-color:                  var(--#{$prefix}white);
$card-subtitle-color:               var(--#{$prefix}white);
$card-cap-bg:                       rgba($body-color, .1);
$card-cap-color:                    var(--#{$prefix}white);
$card-color:                        var(--#{$prefix}white);
$card-bg:                           rgba($secondary, 1);

// LIST GROUP
$list-group-bg:                     var(--#{$prefix}body-bg);

// MODAL
$modal-content-bg:                  var(--#{$prefix}body-bg);

// FORM
$form-file-button-bg:             rgba($body-color, .4);

// CUSTOM
.card textarea.form-control, 
.card input.form-control, 
.card .list-group, 
.card .list-group-item
{
    background-color: $card-bg;
    border-color: rgba($body-color, .3);
}

body{
    background-image: url("../assets/HomeBackground.svg");
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    overflow: auto;
}

// ICONS
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

// BOOTSTRAP DEFAULTS
@import "../../node_modules/bootstrap/scss/bootstrap";
